{% extends 'website.html' %}



{% block title %} Change Password {% endblock %}

{% block content %}

<style>
    .helptext {
        display: none;
    }

    ul {
        display: none;
    }

    p {
        margin-top: 15px;
    }
</style>
<h1>Change Password</h1>
<form action="." method="POST">
    {% csrf_token %}
    
    
    
    <!-- handel errors -->
    {% for key,val in form.errors.items %}
        {% for i in val %}
            <div class="error">{{i}}</div>
        {% endfor %}
    {% endfor %}
    
    {{form.as_p}}
    
    
    <div class="flex-form">
        <button class="btn bg" type="submit">Save</button>
        <a class="btn border" href="{% url 'profile' %}">Home</a>
    </div>


</form>

{% endblock %}

